In [1]:
import pickle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import urllib.request
import nltk
from konlpy.tag import Okt
from tqdm import tqdm
#from tensorflow.keras.preprocessing.text import Tokenizer
#from tensorflow.keras.preprocessing.sequence import pad_sequences

In [11]:
economy_review_df = pd.read_csv('/Users/wonsik/GitHub/chack-it-out-2/data/economy_review.csv')
economy_review_df

                                                       0
0      출판사 탓일 수도 있고 저자 탓일 수도 있지만, 전작 출판한지 반년도 안되어서 확장...
1      매대에서 훑으면 족하다. 판매되지 않겠다는 의지조차 팔아치우는 마케팅의 자아포식성을...
2      않읽어도 되는책작가도 프로그래밍을 못배운것이 한이라고 적혀있다이책에서 누누히강조하는...
3      양질의 책을 읽으세요저급하고 단순한 문구에 홀리셨나요 과연 영양가가 있을까요.깊이있...
4        비판적 책읽기의 중요성.별5개는 그냥 유투브를 보라.. 뭐하러 독서를 하는디 ㅋㅋ
...                                                  ...
81814                              근데 이사람 왜 파산했을까요....
81815                                 대화에 지쳤을때 도움이됩니다.
81816                                              바이블
81817  내용은 쉽지 않지만, 1995년 책이 지금까지 읽힌다는건 현재에도 배울게 많다는 말...
81818   1844년 영국 노동자 계급의 처지를 거주지역과 경쟁의 관점에서 분석한 숨겨진 걸작

[81819 rows x 1 columns]

In [12]:
economy_review_df = economy_review_df.rename(columns={'0':'reviews'})
economy_review_df

                                                 reviews
0      출판사 탓일 수도 있고 저자 탓일 수도 있지만, 전작 출판한지 반년도 안되어서 확장...
1      매대에서 훑으면 족하다. 판매되지 않겠다는 의지조차 팔아치우는 마케팅의 자아포식성을...
2      않읽어도 되는책작가도 프로그래밍을 못배운것이 한이라고 적혀있다이책에서 누누히강조하는...
3      양질의 책을 읽으세요저급하고 단순한 문구에 홀리셨나요 과연 영양가가 있을까요.깊이있...
4        비판적 책읽기의 중요성.별5개는 그냥 유투브를 보라.. 뭐하러 독서를 하는디 ㅋㅋ
...                                                  ...
81814                              근데 이사람 왜 파산했을까요....
81815                                 대화에 지쳤을때 도움이됩니다.
81816                                              바이블
81817  내용은 쉽지 않지만, 1995년 책이 지금까지 읽힌다는건 현재에도 배울게 많다는 말...
81818   1844년 영국 노동자 계급의 처지를 거주지역과 경쟁의 관점에서 분석한 숨겨진 걸작

[81819 rows x 1 columns]

In [13]:
economy_review_df.loc[1774]

reviews    $2022-10_당신에게 선빵을 날리겠다.당신은 ˝메신저˝에 대해서 얼마나 모르고 ...
Name: 1774, dtype: object

In [14]:
# $2022-10 형식 제거
economy_review_df['reviews'] = [re.sub(r"[$]{1,4}[0-9]{4}-[0-9]{1,2}", " ", review) for review in economy_review_df['reviews']]
economy_review_df.loc[1774]

reviews     _당신에게 선빵을 날리겠다.당신은 ˝메신저˝에 대해서 얼마나 모르고 있는것을 얼마...
Name: 1774, dtype: object

In [15]:
# URL 제거, http로 시작되는 url
economy_review_df['reviews'] = [re.sub(r"http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+", " ", review) 
                                for review in economy_review_df['reviews']]
economy_review_df

                                                 reviews
0      출판사 탓일 수도 있고 저자 탓일 수도 있지만, 전작 출판한지 반년도 안되어서 확장...
1      매대에서 훑으면 족하다. 판매되지 않겠다는 의지조차 팔아치우는 마케팅의 자아포식성을...
2      않읽어도 되는책작가도 프로그래밍을 못배운것이 한이라고 적혀있다이책에서 누누히강조하는...
3      양질의 책을 읽으세요저급하고 단순한 문구에 홀리셨나요 과연 영양가가 있을까요.깊이있...
4        비판적 책읽기의 중요성.별5개는 그냥 유투브를 보라.. 뭐하러 독서를 하는디 ㅋㅋ
...                                                  ...
81814                              근데 이사람 왜 파산했을까요....
81815                                 대화에 지쳤을때 도움이됩니다.
81816                                              바이블
81817  내용은 쉽지 않지만, 1995년 책이 지금까지 읽힌다는건 현재에도 배울게 많다는 말...
81818   1844년 영국 노동자 계급의 처지를 거주지역과 경쟁의 관점에서 분석한 숨겨진 걸작

[81819 rows x 1 columns]

In [16]:
# 한글, 영어, 숫자 제외하고 제거
economy_review_df['reviews'] = [re.sub(r"[^0-9a-zA-Zㄱ-ㅎ가-힣]", " ", review) for review in economy_review_df['reviews']]
economy_review_df

                                                 reviews
0      출판사 탓일 수도 있고 저자 탓일 수도 있지만  전작 출판한지 반년도 안되어서 확장...
1      매대에서 훑으면 족하다  판매되지 않겠다는 의지조차 팔아치우는 마케팅의 자아포식성을...
2      않읽어도 되는책작가도 프로그래밍을 못배운것이 한이라고 적혀있다이책에서 누누히강조하는...
3      양질의 책을 읽으세요저급하고 단순한 문구에 홀리셨나요 과연 영양가가 있을까요 깊이있...
4        비판적 책읽기의 중요성 별5개는 그냥 유투브를 보라   뭐하러 독서를 하는디 ㅋㅋ
...                                                  ...
81814                              근데 이사람 왜 파산했을까요
81815                                 대화에 지쳤을때 도움이됩니다
81816                                              바이블
81817  내용은 쉽지 않지만  1995년 책이 지금까지 읽힌다는건 현재에도 배울게 많다는 말...
81818   1844년 영국 노동자 계급의 처지를 거주지역과 경쟁의 관점에서 분석한 숨겨진 걸작

[81819 rows x 1 columns]

In [17]:
economy_review_df.iloc[4923]

reviews    혜성처럼 나타난 금융혁신 토스가 오늘에 이르기까지의 진짜 이야기
Name: 4923, dtype: object

In [18]:
economy_review_df.loc[2166]

reviews      이 책은 내가 쓸 책과 가장 비슷하다  매우 뛰어나고 비범한 책이다 물론 프로메...
Name: 2166, dtype: object

In [19]:
economy_review_df.loc[1774]

reviews      당신에게 선빵을 날리겠다 당신은  메신저 에 대해서 얼마나 모르고 있는것을 얼마...
Name: 1774, dtype: object

In [20]:
# 공백 여러번 -> 1번
economy_review_df['reviews'] = [re.sub(r"\s+", " ", review) for review in economy_review_df['reviews']]
economy_review_df

                                                 reviews
0      출판사 탓일 수도 있고 저자 탓일 수도 있지만 전작 출판한지 반년도 안되어서 확장판...
1      매대에서 훑으면 족하다 판매되지 않겠다는 의지조차 팔아치우는 마케팅의 자아포식성을 ...
2      않읽어도 되는책작가도 프로그래밍을 못배운것이 한이라고 적혀있다이책에서 누누히강조하는...
3      양질의 책을 읽으세요저급하고 단순한 문구에 홀리셨나요 과연 영양가가 있을까요 깊이있...
4           비판적 책읽기의 중요성 별5개는 그냥 유투브를 보라 뭐하러 독서를 하는디 ㅋㅋ
...                                                  ...
81814                                   근데 이사람 왜 파산했을까요
81815                                   대화에 지쳤을때 도움이됩니다
81816                                               바이블
81817   내용은 쉽지 않지만 1995년 책이 지금까지 읽힌다는건 현재에도 배울게 많다는 말이다
81818    1844년 영국 노동자 계급의 처지를 거주지역과 경쟁의 관점에서 분석한 숨겨진 걸작

[81819 rows x 1 columns]

In [21]:
economy_review_df.loc[1774]

reviews     당신에게 선빵을 날리겠다 당신은 메신저 에 대해서 얼마나 모르고 있는것을 얼마나 ...
Name: 1774, dtype: object

In [22]:
# 한 글자 자음 제거
economy_review_df['reviews'] = [re.sub(r"([ㄱ-ㅎㅏ-ㅣ])+", " ", review) for review in economy_review_df['reviews']]

In [23]:
economy_review_df.loc[3935]

reviews    MB가 신봉하는 신자유주의에 대한 통렬한 비판에 감동했음
Name: 3935, dtype: object

In [24]:
economy_review_df['reviews'].nunique()

78998

In [25]:
# 중복 제거
economy_review_df.drop_duplicates(subset=['reviews'], inplace=True)

In [26]:
economy_review_df

                                                 reviews
0      출판사 탓일 수도 있고 저자 탓일 수도 있지만 전작 출판한지 반년도 안되어서 확장판...
1      매대에서 훑으면 족하다 판매되지 않겠다는 의지조차 팔아치우는 마케팅의 자아포식성을 ...
2      않읽어도 되는책작가도 프로그래밍을 못배운것이 한이라고 적혀있다이책에서 누누히강조하는...
3      양질의 책을 읽으세요저급하고 단순한 문구에 홀리셨나요 과연 영양가가 있을까요 깊이있...
4            비판적 책읽기의 중요성 별5개는 그냥 유투브를 보라 뭐하러 독서를 하는디
...                                                  ...
81813                    출산률이 마음대로 될까 하는 생각이 드는 목차가 있네요
81814                                   근데 이사람 왜 파산했을까요
81815                                   대화에 지쳤을때 도움이됩니다
81817   내용은 쉽지 않지만 1995년 책이 지금까지 읽힌다는건 현재에도 배울게 많다는 말이다
81818    1844년 영국 노동자 계급의 처지를 거주지역과 경쟁의 관점에서 분석한 숨겨진 걸작

[78998 rows x 1 columns]

In [27]:
okt = Okt()
stopwords = ['와','에','으로','도','를','과','는','의','가','이','은','이','있','하','것','들','그','되','수','이','보','않','없','나','사람','주','아니','등','같','우리','때','년','가','한','지','대하','오','말','일','그렇','위하','때문','그것','두','말하','알','그러나','받','못하','일','그런','또','문제','더','사회','많','그리고','좋','크','따르','중','나오','가지','씨','시키','만들','지금','생각하','그러','속','하나','집','살','모르','적','월','데','자신','안','어떤','내','경우','명','생각','시간','그녀','다시','이런','앞','보이','번','나','다른','어떻','여자','개','전','들','사실','이렇','점','싶','말','정도','좀','원','잘','통하','소리','놓']
economy_okt_review = []
    
for review in tqdm(economy_review_df['reviews']):
    tokenized_review = okt.morphs(review, stem=True) # 토큰화
    stopwords_removed_review = [word for word in tokenized_review if not word in stopwords] # 불용어 제거
    economy_okt_review.append(stopwords_removed_review)

100%|████████████████████████████████████████████████████████████████| 78998/78998 [03:34<00:00, 367.76it/s]

In [28]:
len(economy_okt_review)

78998

In [29]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(economy_okt_review)

NameError: name 'Tokenizer' is not defined

In [ ]:
print(tokenizer.word_index)

In [ ]:
tokenizer.word_counts.items()

In [ ]:
threshold = 3
total_cnt = len(tokenizer.word_index) # 단어의 수
rare_cnt = 0 # 등장 빈도수가 threshold보다 작은 단어의 개수를 카운트
total_freq = 0 # 훈련 데이터의 전체 단어 빈도수 총 합
rare_freq = 0 # 등장 빈도수가 threshold보다 작은 단어의 등장 빈도수의 총 합

# 단어와 빈도수의 쌍(pair)을 key와 value로 받는다.
for key, value in tokenizer.word_counts.items():
    total_freq = total_freq + value

    # 단어의 등장 빈도수가 threshold보다 작으면
    if(value < threshold):
        rare_cnt = rare_cnt + 1
        rare_freq = rare_freq + value

print('단어 집합(vocabulary)의 크기 :',total_cnt)
print('등장 빈도가 %s번 이하인 희귀 단어의 수: %s'%(threshold - 1, rare_cnt))
print("단어 집합에서 희귀 단어의 비율:", (rare_cnt / total_cnt)*100)
print("전체 등장 빈도에서 희귀 단어 등장 빈도 비율:", (rare_freq / total_freq)*100)

In [ ]:
# 전체 단어 개수 중 빈도수 2이하인 단어는 제거.
# 0번 패딩 토큰을 고려하여 + 1
vocab_size = total_cnt - rare_cnt + 1
print('단어 집합의 크기 :',vocab_size)

In [ ]:
# 텍스트 시퀀스를 정수 시퀀스로 변환
tokenizer = Tokenizer(vocab_size) 
tokenizer.fit_on_texts(economy_okt_review)
economy_tok_review = tokenizer.texts_to_sequences(economy_okt_review)

In [ ]:
economy_tok_review

In [ ]:
drop_review = [index for index, review in enumerate(economy_tok_review) if len(review) < 1]
drop_review

In [ ]:
print('리뷰의 최대 길이 :',max(len(review) for review in economy_tok_review))
print('리뷰의 평균 길이 :',sum(map(len, economy_tok_review))/len(economy_tok_review))

In [ ]:
# 빈 샘플들을 제거
drop_economy_tok_review = np.delete(economy_tok_review, drop_review, axis=0)
drop_economy_tok_review